<!-- 头部内容 -->
<%- include ./common/header %>

    <body>
        <!-- 顶部导航内容 -->
        <%- include ./common/nav %>

            <div class="container">
                <div class="blog-header">
                    <h1 class="blog-title">ShiXiaomo's Blog</h1>
                    <hr/>
                    <p class="lead blog-description">欢迎来到石小墨的博客，让我们一起去探索生活，开辟趣味的新世界!</p>
                </div>

                <div class="row row-offcanvas row-offcanvas-left">
                    <!-- 侧边工具栏 -->
                    <%- include ./common/sidebar %>

                        <div class="col-xs-12 col-lg-9">
                            <div class="blog-post">
                                <h3 class="sub-func-title">
                                    &nbsp;<span class="glyphicon glyphicon-menu-right"></span>&nbsp;
                                    <%= title %>
                                </h3>
                                <ul style="list-style:none">
                                    <li>
                                        <h4>
                                            <a href="https://zhuwenlong.com/">
                                                <span class="glyphicon glyphicon-paperclip"></span> 百度前端高级工程师
                                            </a>
                                        </h4>Mofei，常用名朱文龙。
                                    </li>
                                    <li>
                                        <h4>
                                            <a href="https://shiheng2016.github.io/">
                                                <span class="glyphicon glyphicon-paperclip"></span> 机器猫
                                            </a>
                                        </h4>石小墨的官方博客
                                    </li>
                                    <li>
                                        <h4>
                                            <a href="http://weibo.com/p/1005053312873254/home?from=page_100505&mod=TAB&is_all=1#place">
                                                <span class="glyphicon glyphicon-paperclip"></span> 个人微博账号
                                            </a>
                                        </h4>石小墨的官方微博
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--/.col-xs-12.col-lg-9-->

                </div>
                <!--/row-->
            </div>

            <!-- 底部页尾内容 -->
            <%- include ./common/footer %>